@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable; /* 为滚动条预留空间，防止抖动 */
  overflow-y: auto; /* 正常显示滚动条 */
}